

.image-cart{
    width: 80px;
}

.cartProduct{
    width: 100%;
    margin: auto;
}

.all-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titleAndPrice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}