


.confirm-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.confirm-msg{
   border-style: solid;
   border-color: transparent;
   margin: auto;
   text-align: center;
   padding: 40px;
}


.confirm-return{
    display: flex;
    justify-content: center;
    background: linear-gradient(#e66465, #9198e5);
}

.secondconfirm-return{
    display: flex;
    justify-content: center;
    background: linear-gradient(#64e6ae, #646aa7);
}

.thirdconfirm-return{
    display: flex;
    justify-content: center;
    background: linear-gradient(#e664ac, #8e6041);
}

.congrat-word{
    color: yellow;
}

.congrat-firstS{
    color: white;
}

.img-congrat{
    width: 220px;
}


.img-womanpc{
    margin: auto;
    width: 100%;
}