

.footer{
    background: black;
    color: rgb(239, 238, 238);
}

.row-footer{
    margin-left: 10px;
    margin-right: 10px;
}


.logo-footer{
    width: 40px;
}

.socialmedia-icon{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.creditcard{
    width: 70px;
    height: 60px;
}


.after-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    text-align: center;
    color: black;
    margin-bottom: 10px;


}

