.paragraph1{
    border-style: solid;
    background: rgb(207, 122, 197);
    padding: 20px;
    border-color: transparent;
    width: 100%;
    margin: auto;

}


.paragraph2{
    border-style: solid;
    background: linear-gradient(#64e6ae, #646aa7);
    padding: 20px;
    border-color: transparent;
    width: 100%;
    margin: auto;

}


.paragraph3{
    border-style: solid;
    background: linear-gradient(#69b8cc, #ec92bb);
    padding: 20px;
    border-color: transparent;
    width: 100%;
    margin: auto;

}