.search{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 430px;
    height: 47px;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    background-color: azure;
}